.box {
    background-color: #444;
    color:green;
    border-radius: 5px;
    padding: 50px;
    font-size: 100%;
  }

.header-alignment { 
  margin: 0px -15px; 
}

.text-green {
  color: #28a745;
}