.border-radius-100 {
  border-radius: 100%;
}

.btn-padding {
  padding-top: 2px;
}

.input-w-50 {
  width: 50%;
}

.round-button {
  width: 30px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: 1px solid green;
  color: green;
  background-color: white;
  border-radius: 100%;
  padding: 0;
}

.round-button:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

.w-15 {
  width: 15%;
}
